.card-container {
  width: 200px;
  height: 200px;
  margin: 10px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
  padding: 13px;
  transform: rotate(40deg);
  box-shadow: 0 0 10px red;
}

.card {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  padding: 10px;
  transform: rotate(-40deg);
  background-color: #000;
  box-shadow: 0 0 10px red;
  border-radius: 12px;
  overflow: auto; 
}

h2 {
  border-bottom:0.5px solid #fff ;
  font-size: 20px;
  padding: 5px;
  border-radius: 12px;
  text-align: center;
  margin:0 20px 0 20px;
}


